@page "/admin"

@using PokerCards.Data
@implements IDisposable
@inject VotingService pokerVote

<h3>Admin Panel</h3>

<div class="row">
    <label style="width:100%">Story Name</label>
    <input class="form-control" style="max-width: 400px;" type="text" @bind-value="storyName" @oninput="(e) => pokerVote.updateStoryName(e.Value.ToString())" />
</div>

<div class="row">
    <button class="btn btn-primary btn-vote" disabled="@(pokerVote.StorySizeVotes.Count == 0)" @onclick="() => pokerVote.revealVotes()">Show Results</button>
    <button class="btn btn-primary btn-vote" @onclick="() => pokerVote.clearStorySizeVotes()">Clear Votes</button>
    <button autofocus class="btn btn-primary btn-vote" @onclick='() => { pokerVote.updateStoryName(""); pokerVote.clearStorySizeVotes();  storyName = ""; }'>New Story</button>
</div>

@if (pokerVote.showVotes)
{
    <div class="row">
        <div class="col">
            @foreach (var group in pokerVote.StorySizeVotes.GroupBy(item => item.Size).Select(grp => grp.ToList()).ToList())
            {
                if (group.Count > 0)
                {
                    <div class="row">
                        @group.FirstOrDefault().Size : @group.Count
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            @foreach (SizeVote vote in pokerVote.StorySizeVotes)
            {
                <div class="row">Vote for @vote.Size from @vote.User</div>
            }
        </div>
    </div>
}

else
{
    <div>@pokerVote.StorySizeVotes.Count() votes counted.</div>
}


@code {
    private string storyName { get; set; } = "";

    protected override void OnInitialized()
    {
        pokerVote.OnChange += OnUpdate;
    }

    public void Dispose()
    {
        pokerVote.OnChange -= OnUpdate;
    }

    void OnUpdate()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
