@page "/"
@page "/user"

@using PokerCards.Data
@implements IDisposable
@inject VotingService pokerVote


<div class="row">
    <div class="col">
        <h3> Scrum Team Page </h3>
        <h4>Story Name: @pokerVote.StoryName</h4>
    </div>

</div>


<div class="row">
    <div class="col">
        <label class="pr-2" style="width:100%">Username</label>
        <input class="form-control" style="max-width: 300px;" disabled="@IsDisabled" placeholder="Username" @bind-value="Username" @bind-value:event="oninput" type="text" />
    </div>
</div>

@if (!pokerVote.showVotes)
{
<div class="row">
    <div class="col">
        @if (canVote || changeVote)
        {
            <div class="row">
                <button class="btn btn-primary btn-vote" disabled="@string.IsNullOrWhiteSpace(Username)" @onclick="() => addVote(StorySize.XS)">XS</button>
                <button class="btn btn-primary btn-vote" disabled="@string.IsNullOrWhiteSpace(Username)" @onclick="() => addVote(StorySize.S)">S</button>
                <button class="btn btn-primary btn-vote" disabled="@string.IsNullOrWhiteSpace(Username)" @onclick="() => addVote(StorySize.M)">M</button>
                <button class="btn btn-primary btn-vote" disabled="@string.IsNullOrWhiteSpace(Username)" @onclick="() => addVote(StorySize.L)">L</button>
                <button class="btn btn-primary btn-vote" disabled="@string.IsNullOrWhiteSpace(Username)" @onclick="() => addVote(StorySize.XL)">XL</button>
            </div>
            @if (string.IsNullOrWhiteSpace(Username))
            {
                <div class="row">Enter a username to start voting.</div>
            }
        }

        else
        {
            @if (pokerVote.StorySizeVotes.Count() == 0)
            {
                <div class="row">Waiting for new story name.</div>
            }
            else
            {
                <div class="row">
                    <div class="pr-3">Your Vote: @pokerVote.StorySizeVotes.FirstOrDefault(item => item.User == Username).Size</div>
                    <button class="btn btn-primary" @onclick="() => changeVote = true">Change Vote</button>
                </div>

                <div class="row">Waiting for voting to finish. @pokerVote.StorySizeVotes.Count() votes counted.</div>
            }

        }
    </div>
</div>
}

else
{
    <div class="row">
        <div class="col">
            @foreach (var group in pokerVote.StorySizeVotes.GroupBy(item => item.Size).Select(grp => grp.ToList()).ToList())
            {
                if (group.Count > 0)
                {
                    <div class="row">
                        @group.FirstOrDefault().Size : @group.Count
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            @foreach (SizeVote vote in pokerVote.StorySizeVotes)
            {
                <div class="row">Vote for @vote.Size from @vote.User</div>
            }
        </div>
    </div>
    
}


@code {
    private void addVote(StorySize vote)
    {
        pokerVote.addStorySizeVotes(new SizeVote() { Size = vote, User = Username });
        changeVote = false;
        IsDisabled = true;
    }

    protected bool IsDisabled { get; set; } = false;

    private string Username { get; set; }

    private bool canVote
    {
        get
        {
            return !(pokerVote.StorySizeVotes.Any(item => item.User == Username) || string.IsNullOrWhiteSpace(pokerVote.StoryName));
        }
    }

    private bool changeVote { get; set; } = false;

    protected override void OnInitialized()
    {
        pokerVote.OnChange += OnUpdate;
    }

    public void Dispose()
    {
        pokerVote.OnChange -= OnUpdate;
    }

    void OnUpdate()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
