@page "/"
@page "/team"

<div class="jumbotron team bg-dark @jumboclass">
    <h1 class="display-4">Scrum Team Story Sizing</h1>
    <p class="lead">This tool is built to help Scrum teams size User Stories using the T-Shirt sizing/Fibonicci method. To get started enter a display name below or if you are the Scrum Master please click <a href="/master">here</a>.</p>
    <hr class="my-4">
    <label class="pr-2" style="width:100%">Display Name</label>
    <input autofocus class="form-control" style="max-width: 300px;" disabled="@NameDisabled" placeholder="Enter a display name" @bind-value="Username" @bind-value:event="oninput" type="text" />
</div>

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Voting</h5>
        <hr />
        <div class="row">
            <div class="col">
                <label>Story Name</label>
                <h4>@(string.IsNullOrWhiteSpace(PokerVote.StoryName) ? "Waiting..." : PokerVote.StoryName)</h4>
            </div>
        </div>
        @if (!PokerVote.ShowVotes && (!PokerVote.StorySizeVotes.Any(item => item.User == Username) || ChangeVote))
        {
            <div class="d-flex mt-4 mx-auto">
                <div class="btn-group mx-auto" role="group" style="width:500px;" aria-label="Voting group">
                    <button type="button" title="Story Size 1" class="btn btn-primary btn-vote" disabled="@VoteDisabled" @onclick="() => AddVote(StorySize.XS)">XS</button>
                    <button type="button" title="Story Size 2" class="btn btn-primary btn-vote" disabled="@VoteDisabled" @onclick="() => AddVote(StorySize.S)">S</button>
                    <button type="button" title="Story Size 3" class="btn btn-primary btn-vote" disabled="@VoteDisabled" @onclick="() => AddVote(StorySize.M)">M</button>
                    <button type="button" title="Story Size 5" class="btn btn-primary btn-vote" disabled="@VoteDisabled" @onclick="() => AddVote(StorySize.L)">L</button>
                    <button type="button" title="Story Size 8" class="btn btn-primary btn-vote" disabled="@VoteDisabled" @onclick="() => AddVote(StorySize.XL)">XL</button>
                </div>
            </div>
        }
        else if (!PokerVote.ShowVotes)
        {
            <div class="pr-3">Your Vote: @PokerVote.StorySizeVotes.FirstOrDefault(item => item.User == Username).Size</div>
            <button class="btn btn-primary mt-2" @onclick="() => ChangeVote = true">Change Vote</button>
        }
        <div class="mt-2 text-center">
            @if (string.IsNullOrWhiteSpace(Username) && !PokerVote.ShowVotes)
            {
                <text>Enter a display name to start voting.</text>
            }
            else if (string.IsNullOrWhiteSpace(PokerVote.StoryName))
            {
                <text>Waiting for a new story.</text>
            }
        </div>
    </div>
</div>

<div class="card bg-dark">
    <div class="card-body">
        <h5 class="card-title">Results</h5>
        <hr />
        @if (!PokerVote.ShowVotes)
        {
            <div class="row">
                <div class="col">
                    Waiting for voting to finish. @PokerVote.StorySizeVotes.Count() votes counted.
                </div>
            </div>
        }
        else
        {
            <Votes SizeVotes="PokerVote.StorySizeVotes" />
        }
    </div>
</div>